/* about section */
.about{
  padding: 8rem 7% 8rem;
}

.about h2 {
  color: #1b1b1b;
  font-weight: 800;
  font-size: 2.6rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.about .row {
  display: flex;
}

.about-img {
  flex: 1 1 45rem;
  size: 3rem;
}

.about-img img {
  width: 95%;
  border-radius: 5rem;
  height: 30rem;
  object-fit: cover;
  object-position: center;
}

.content-about {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.content-about h3 {
  font-size: 1.8rem;
  color: #1b1b1b;
}

.content-about p {
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.6;
  margin-top: 1rem;
  color: #1b1b1b;
}

/* media queries */
@media (max-width: 768px) {
    .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
      }
    
      .content-about {
        padding: 0;
      }
    
      .content-about h3 {
        margin-top: 2rem;
        font-size: 2rem;
      }
    
      .content-about p {
        font-size: 1.6rem;
      }
      
      .row {
        flex-wrap: wrap;
      }
    }    