/* location */

.location {
  padding: 8rem 7% 8rem;
}

.location h2 {
  color: #1b1b1b;
  font-weight: 800;
  font-size: 2.6rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.location p{
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    max-width: 50rem;
  }
  
  .location h3{
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    background-color: #1b1b1b;
    border-radius: 1.5rem;
    color: #ebebeb;
    padding: 0.5rem;
  }
  
  .map {
    display: inline-block;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    margin-bottom: 6rem;
  }

  /* media queries */
  @media (max-width: 768px) {
    .map {
        height: 40rem;
      }
    }