* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #c5bbad;
  color: #ebebeb;
  /* min-height: 5000px; */
}

/* navbar */
.navbar-logo {
  font-family: "Jost";
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: 0.063rem;
  color: #ebebeb;
  text-decoration: none;
}

.navbar {
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c5bbad;
  padding: 1.4rem 7%;
  border-bottom: 1px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-nav a {
  display: inline-block;
  color: #ebebeb;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.5rem;
}

.navbar-nav a:hover {
  color: #1b1b1b;
}

.navbar-icons a {
  font-size: x-large;
  color: #ebebeb;
}

.navbar-icons a:hover {
  color: #1b1b1b;
}

#menu {
  display: none;
}

/* hero */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(/elements/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 5rem;
}

.hero::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  /* background: linear-gradient(rgba(21,12,3,255) 25%, rgba(197, 187, 173, 1) 25%); */
}

.hero .content {
  padding: 1rem 6%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 3em;
  color: #c5bbad;
  text-shadow: 1px 1px 3px rgba(27, 27, 27, 1, 0.5);
}

.hero .content p {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #ebebeb;
}

.content a {
  font-size: 1.3rem;
  color: #1b1b1b;
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 1rem;
  background-color: #ebebeb;
  border-radius: 1.5rem;
  letter-spacing: 0.1rem;
}

.content a:hover {
  color: #c5bbad;
  background-color: #1b1b1b;
}

/* products on home*/

.products {
  padding: 8rem 7% 8rem;
}

.products h2 {
  margin-bottom: 1rem;
  color: #1b1b1b;
  font-weight: 800;
  font-size: 2.6rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.products h2 span {
  color: #ebebeb;
}

.p1 {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2rem;
  background-color: #ebebeb;
  border-radius: 1.5rem;
  color: #1b1b1b;
  padding: 1rem;
}

.products p span {
  color: #1b1b1b;
  font-weight: 800;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  justify-content: center;
}

.products-card {
  text-align: center;
  padding-bottom: 3rem;
}

.products-card img {
  border-radius: 50%;
  width: 80%;
}

.products-card-title {
  margin: 1rem auto 0.5rem;
  font-size: 1.3rem;
  color: #ebebeb;
}

.products-card-img {
  object-fit: cover;
  transition: 0.7s;
}

.products-card-img:hover {
  transform: scale(1.15);
}

.row2 p {
  font-size: 1.4rem;
  color: #1b1b1b;
}

.products .more {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: center;
}

.more a {
  color: #ebebeb;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #1b1b1b;
  border-radius: 1.5rem;
}

.more a:hover {
  color: #1b1b1b;
  background-color: #ebebeb;
}

/* footer */
footer {
  background-color: #ebebeb;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
  padding-bottom: 2.5rem;
}

.socials {
  padding: 1rem 0;
}

.socials a {
  color: #1b1b1b;
  margin: 1rem;
  font-size: larger;
}

.socials a:hover,
.links a:hover {
  color: #c5bbad;
}

.links {
  margin-bottom: 1.5rem;
}

.links a {
  color: #1b1b1b;
  padding: 0.7rem 1rem;
}

.credit {
  font-size: 0.8rem;
}

.credit p {
  color: #1b1b1b;
}

.credit a {
  color: #c5bbad;
  font-weight: 600;
  font-size: 0.9rem;
}

/* media queries */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 65%;
  }

  .overlay {
    position: absolute;
    bottom: 0.35rem;
    left: 5.4rem;
    right: 0;
    /* top: -0.15rem; */
    background-color: #1b1b1b;
    opacity: 80%;
    overflow: hidden;
    width: 80%;
    height: 0;
    transition: 0.5s ease;
  }

  .overlay p {
    color: #ebebeb;
    text-align: left;
    margin: 10% 5% 6% 5%;
    line-height: 1.5rem;
    font-size: 1.5rem;
  }

  .container:hover .overlay {
    height: 98%;
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 70%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #1b1b1b;
    width: 20rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar-nav.active {
    right: 0;
  }

  .navbar-nav a {
    color: #c5bbad;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar-nav a:hover {
    color: #ebebeb;
  }

  .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #1b1b1b;
    width: 20rem;
    height: 100vh;
    transition: 0.5s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #c5bbad;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}
